*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h1 h1{
    text-align: center;
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 0px;
    color: azure;
}
.tournament{
    /* border: 1px solid black; */
    height: 90vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 230px;
    margin-top: 0px;
}
.box{
    border: 3px solid #228cdc;
    height: 125px;
    width: 205px;
    display: flex;
    margin: 5px;
}
img{
    height: 120px;
    width: 200px;
}
.p1 h2{
    color: azure;
    font-size: 20px;
}
.p2 h2{
    color: azure;
    font-size:20px ;
}
.box :hover{
    border: 3px solid wheat;
}
.tour{
    color: green;
    font-size: 10px;
}
/* @media  (max-width:412px) {
    .side-menu{
        width: 150px;
    }
    .container .header .nav .search button{
        padding-left: 50px;
    }
    .container .header .nav .search input[type=text]{
        padding-left: 40px;
    }
    .container .header .nav .search{
        padding-left: 60px;
    }
    .container .header .nav .search button img{
        padding-right: 10px;
    }
    .btn{
        margin-left: 10px;
        padding: 5px;
    }
} */
@media screen and (max-width:413) {
    .container .header .nav .search{
        padding-right: 400px
    }
    

    
}